venv/
.Rproj.user
_book
_bookdown_files
__pycache__/
.RData
.Rhistory
*.data
*.html
.idea
*.zip
**/images
images
**/venv


Template.log
Template.pdf
Template.tex
Template.Rmd

dairy_process.Rproj

codes_01_energy_bills/__pycache__
codes_01_energy_bills/results/
codes_01_energy_bills/composite curves/
codes_02_heat_recovery/venv
codes_02_heat_recovery/result_1/
codes_02_heat_recovery/results_HP/
codes_02_heat_recovery/TA_files/

codes_02_heat_recovery/frontend_files
codes_02_heat_recovery/images
codes_02_heat_recovery/temp
codes_02_heat_recovery/codes_02_heat_recovery.Rproj

/.quarto/

/.luarc.json
